<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> v-model </title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="checkbox" name="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{ checked }}</label>
        <p>--------------------------------</p>
        <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
        <label for="jack">Jack</label>
        <input type="checkbox" id="tony" value="Tony" v-model="checkedNames">
        <label for="tony">Tony</label>
        <input type="checkbox" id="penny" value="Penny" v-model="checkedNames">
        <label for="penny">Penny</label>
        <div>
            <span>{{ checkedNames }}</span>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                checked: false,
                checkedNames: []
            }
        })
    </script>
</body>
</html>