<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> v-model radio </title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="radio" id="one" value="one" v-model="picked">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="two" v-model="picked">
        <label for="two">Two</label>
        <div><span>{{ picked }}</span></div>
    </div>

    <script>
    new Vue({
        el: '#app',
        data: {
            picked: ''
        }
    })
    </script>
</body>
</html>